node_modules
yarn-error.log
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo
lerna-debug.log
packages/**/dist
package-lock.json
coverage
.DS_Store
dist
lib
typings
.idea/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*