version: 2.1

executors:
  nodejs:
    docker:
      - image: cimg/node:14.6.5

jobs:
  publish:
    executor: nodejs
    working_directory: ~/tmp
    steps:
      - add_ssh_keys:
          fingerprints:
            - "79:d9:37:f7:b9:63:5a:f4:35:d4:ad:b2:72:5d:34:a9"
      - run:
          name: Setup GIT email
          command: git config --global user.email "developer@keen.io"
      - run:
          name: Setup GIT user
          command: git config --global user.name "Keen Developer"
      - checkout
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
      - run:
          name: Install dependencies
          command: yarn && npx lerna bootstrap
      - run:
          name: Build packages
          command: npx lerna run build --concurrency 2
      - run:
          name: Bump version of changed packages
          command: npx lerna version --conventional-commits --no-push --yes
      - run:
          name: Publish
          command: npx lerna publish from-git --yes --no-verify-access
      - run:
          name: Push changes
          command: git push --follow-tags --no-verify origin master
  test:
    executor: nodejs
    working_directory: ~/tmp
    steps:
      - checkout
      - restore_cache:
          key: npm-deps-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          key: npm-deps-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Unit Tests
          command: yarn test:ci
      - run:
          name: Upload code coverage
          command: npx codecov --token=$CODECOV_TOKEN
  build:
    executor: nodejs
    working_directory: ~/tmp
    steps:
      - checkout
      - restore_cache:
          key: npm-deps-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          key: npm-deps-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - run:
          name: Build
          command: npx lerna run build --concurrency 2

workflows:
  version: 2
  release:
    jobs:
      - publish:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
  ci:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - gh-pages
            tags:
              ignore: /.*/
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
            tags:
              ignore: /.*/
