@font-face {
  font-family: 'Gangster Grotesk Regular';
  src: url('https://static.keen.io/assets/gangstergrotesk-regular-webfont.eot');
  src: url('https://static.keen.io/assets/gangstergrotesk-regular-webfont.woff2') format('woff2'),
       url('https://static.keen.io/assets/gangstergrotesk-regular-webfont.woff') format('woff'),
       url('https://static.keen.io/assets/gangstergrotesk-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gangster Grotesk Light';
  src: url('https://static.keen.io/assets/gangstergrotesk-light-webfont.eot');
  src: url('https://static.keen.io/assets/gangstergrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://static.keen.io/assets/gangstergrotesk-light-webfont.woff2') format('woff2'),
       url('https://static.keen.io/assets/gangstergrotesk-light-webfont.woff') format('woff'),
       url('https://static.keen.io/assets/gangstergrotesk-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gangster Grotesk Bold';
  src: url('https://static.keen.io/assets/gangstergrotesk-bold-webfont.eot');
  src: url('https://static.keen.io/assets/gangstergrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://static.keen.io/assets/gangstergrotesk-bold-webfont.woff2') format('woff2'),
       url('https://static.keen.io/assets/gangstergrotesk-bold-webfont.woff') format('woff'),
       url('https://static.keen.io/assets/gangstergrotesk-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Lato Bold';
    src: url('https://static.keen.io/assets/lato-bold-webfont.eot');
    src: url('https://static.keen.io/assets/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://static.keen.io/assets/lato-bold-webfont.woff2') format('woff2'),
         url('https://static.keen.io/assets/lato-bold-webfont.woff') format('woff'),
         url('https://static.keen.io/assets/lato-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('https://static.keen.io/assets/lato-regular-webfont.eot');
    src: url('https://static.keen.io/assets/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://static.keen.io/assets/lato-regular-webfont.woff2') format('woff2'),
         url('https://static.keen.io/assets/lato-regular-webfont.woff') format('woff'),
         url('https://static.keen.io/assets/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Light';
    src: url('https://static.keen.io/assets/lato-light-webfont.eot');
    src: url('https://static.keen.io/assets/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://static.keen.io/assets/lato-light-webfont.woff2') format('woff2'),
         url('https://static.keen.io/assets/lato-light-webfont.woff') format('woff'),
         url('https://static.keen.io/assets/lato-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
